:root {
    --primary-color: rgb(238, 77, 45);
    --primary-mall-color: #D0011B;
    --white-color: #fff;
    --black-color: #000;
    --text-color-dark:rgb(53, 52, 52); 
    --text-color: rgb(126, 125, 125);
    --border-color: #dbdbdb;
    --hover-color:  #e9e5e5;
    --header-heigth: 120px;
    --navbar-heigth: 44px;
    --header-with-search-heigth: calc(var(--header-heigth) - var(--navbar-heigth));
    --header-sort-bar-heigth: 36px;
}

* {
    box-sizing: inherit;
}

html {
    width: 100%;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

body {
    width: 100%;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

/* Responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-with {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}


.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

/* Animation */

@keyframes fadeIn {
    from    {
        opacity: 0;
        transform: scaleY(0);
    }
    to  {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes growth {
    from    {
        
        transform: scale(0);
    }
    to  {
        
        transform: scale(1);
    }
}


@keyframes anmiNotify {
    from {
        
        transform: scale(0);

    }
    to {
        
        transform: scale(1);
    }
}


/* Show */

.show {
    opacity: 1 !important;
    visibility: visible !important;
}

.hide {
    display: none;
}

.showAnimationScale {
    opacity: 1 !important;
    visibility: visible !important;
    animation: growth ease 0.3s;
}

.showBlock {
    display: block !important;
}

.showFlex {
    display: flex !important;
}

/* hide */

.hideelemnt {
    display: none;
}



/* modal */

.modal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    display: flex;
}

.modal-signup-login {
    display: none;
}

.modal-product-detail-img {
    display: none;
}

.modal__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
}

.modal__content {
    z-index: 1;
    opacity: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 4px;
    visibility: hidden;
    background-color:var(--white-color);
}

.modal__content.modal-content-show {
    opacity: 1;
    visibility: visible;
}

a {
    text-decoration: none;
}

/* Button style  */
.btn {
    height: 34px;
    padding: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 142px;
    font-size: 1.4rem;
    border-radius: 2px;
    text-decoration: none;
}

.btn:hover {
    background-color: rgba(216, 213, 213, 0.5);
}

.btn--size-s {
    height: 32px;
}


.btn.btn--primary {
    font-size: 1.4rem;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--primary:hover {
    background-color: rgba(238, 77, 45, 0.808);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-item {
    height: 30px;
    border: none;
    outline: none;
    margin: 0 15px;
    cursor: pointer;
    min-width: 40px;
    font-size: 2rem;
    background: none;
    font-weight: 300;
    border-radius: 2px;
    text-align: center;
    color: var(--text-color);
}

.pagination-item--active {
    border-radius: 2px;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.cursor-no-pointer {
    cursor: default;
}

.pagination-item--active:hover {
    filter: brightness(110%);
    background-color: var(--primary-color);
}

.pagination-btn-icon-img {
    width: 14px;
    height: 14px;
    fill: currentColor;
}

.cursor-pointer-item {
    cursor: pointer;
}

.flex-column {
    flex-direction: column;
}

/* Block */

.block {
    border-radius: 4px;
}

.block-heading {
    display: flex;
    padding: 20px 20px;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    justify-content: space-between;
}

.block-heading-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.block-see-more {
    display: flex;
    font-size: 12px;
    align-items: center;
    color: var(--primary-mall-color);
}

.block-see-more-icon {
    width: 9px;
    margin-left: 4px;
}

.block-body {
    padding: 20px;
}

.margin-top {
    margin-top: 100px;
}